


#INFOS DE CONNEXION A LA BASE
DATABASE_NAME=mysql:host=localhost;dbname=laura_naturelle
DATABASE_USER=
DATABASE_PASSWORD=


#STRIPE
KEY_STRIPE=


#CAPTCHA
HOST_NAME=
CLIENT_KEY_CAPTCHA=
SECRET_KEY_CAPTCHA=