/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* PRESTATIONS */


.card {
    width: 15rem;
    background-color: var(--second-filter-color);
    border: var(--border-first-thin-solid);
    box-shadow: var(--box-light-shadow);
}

.card:hover {
    background-color: var(--special-dark-filter);
    border: var(--border-dark-special-thin-solid);
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */


/* -------------------------------------------- */
/* TABLETTE */

@media (min-width: 768px)  {

    .card {
        width: 18rem;
    }
}


/* -------------------------------------------- */
/* GRAND ECRAN */

@media (min-width: 1200px)  {


}

