.accordion {
    border-bottom: var(--border-special-thin-solid);
    border-left: var(--border-special-thin-solid);
    border-right: var(--border-special-thin-solid);
    border-radius: 5px;
    font-family: var(--normal-font);
}

.accordion-item {
    border: none;
}

.accordion-button:not(.collapsed) {
    color: var(--main-dark-color);
    background-color: var(--main-color);
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../../img/icons/chevron-pink.webp);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../../img/icons/chevron-pink.webp);
}

.accordion-button {
    border-top: var(--border-special-thin-solid) !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-block {
    width: 100%;
}


/* --------------------------------------------------------------- */
/* ACCORDÉON DES PRIX ET DE LA DURÉE */

.accordion-price-time, .accordion-price-time .accordion-button {
    border: none !important;
}

.accordion-price-time .accordion-button {
    padding-left: 0;
    padding-right: 0;
}

.accordion-price-time .accordion-item {
    position: relative;
}

.accordion-price-time .accordion-body {
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    padding-top: 0;
    z-index: 10;
    box-shadow: var(--box-light-shadow);
}

.accordion-min {
    width: 100%;
}

/* --------------------------------------------------------------- */
/* EN VERSION ROSE */

.accordion-price-time .accordion-button {
    color: var(--main-dark-color);
    background-color: var(--special-dark-filter);
    box-shadow: none;
}

.accordion-pink .accordion-body {
    border-left: var(--border-filter-special-thin-solid);
    border-right: var(--border-filter-special-thin-solid);
    border-bottom: var(--border-filter-special-thin-solid);
}

/* --------------------------------------------------------------- */
/* EN VERSION VERTE */

.accordion-green .accordion-button {
    color: var(--main-dark-color);
    background-color: var(--second-filter-color);
    box-shadow: none;
}

.accordion-green .accordion-body {
    border-left: var(--border-filter-second-thin-solid);
    border-right: var(--border-filter-second-thin-solid);
    border-bottom: var(--border-filter-second-thin-solid);
}

.accordion-green .accordion-button::after {
    background-image: url(../../img/icons/chevron-green.webp);
}

.accordion-green .accordion-button:not(.collapsed)::after {
    background-image: url(../../img/icons/chevron-green.webp);
}

/* --------------------------------------------------------------- */
/* EN VERSION MARRON */

.accordion-brown .accordion-button {
    color: var(--main-dark-color);
    background-color: var(--brown-filter-color);
    box-shadow: none;
}

.accordion-brown .accordion-body {
    border-left: var(--border-filter-brown-thin-solid);
    border-right: var(--border-filter-brown-thin-solid);
    border-bottom: var(--border-filter-brown-thin-solid);
}

.accordion-brown .accordion-button::after {
    background-image: url(../../img/icons/chevron-brown.webp);
}

.accordion-brown .accordion-button:not(.collapsed)::after {
    background-image: url(../../img/icons/chevron-brown.webp);
}


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

/* -------------------------------------------- */
/* TABLETTE */

@media (min-width: 768px) {

    .accordion-block {
        width: 50%;
    }

    .accordion-min {
        width: 30%;
    }
}