



hr {
    background-color: var(--beige-color);
    height: 15px;
    opacity: 0.8;
    width: 70%;
    border: none;
}



/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media (min-width: 768px)  {

    .line {
        height: 3px;
        width: 20%;
        background-color: var(--special-color);
    }
}


@media (min-width: 1200px) {

    
}